<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/> <!-- Note the closing '/' character -->
    <title>Welcome</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<!--view template with a message that welcomes the user by username.-->
    <h3 th:text="'Welcome '  + ${user.username} + '!' "></h3>
    <a th:href="@{/}">Select Your Spa Services here!</a>

    <!-- Bonus Mission 1-->
    <h2>Users</h2>
    <th:block th:each="someUser: ${users}">
        <a th:href="@{'/user/details/' + ${someUser.id}}"><p th:text="${someUser.username}"></p></a>

    </th:block> <!-- Bonus Mission-->

</body>
</html>